<div class="bid-ask-item" data-party-address="<%= partyAddress %>" data-contract-address="<%= contractAddress %>" data-premium="<%= premium %>">
  <div class="party-info">
    <p class="address"><%= partyAddress %></p>
    <p class="party-type"><%= partyType %></p>
  </div>
  <div class="premium-info">
    <p><%= premium.toFixed(2) %>ETH</p>
  </div>
</div>