<div class="bid-ask-item" data-party-address="<%= address %>" data-contract-address="<%= contractAddress %>" data-premium="<%= premium %>">
  <div class="party-info">
    <p class="address"><%= address %></p>
    <p class="party-type"><%= partyType %></p>
  </div>
  <div class="premium-info">
    <p>$<%= premium %></p>
  </div>
</div>